body {
    background-image:url(../IMG/ML/MLbackground.svg);
    background-size: cover;
    margin: 0;
    height: 100vh;

}

#tile1{
    background-image:url(../IMG/ML/article1_IMG.jpg);
    background-size:cover;
}

#tile2{
    background-image:url(../IMG/ML/article2_IMG.jpg);
    background-size:cover;
}

#tile3{
    background-image:url(../IMG/ML/event1_IMG.jpg);
    background-size:cover;
}

#tile4{
    background-image:url(../IMG/ML/article3_IMG.jpg);
    background-size:cover;
}