body {
    background:#0a8bdb;
    background-image:url(../IMG/NE/NEbackground.svg);
    background-size: cover;
    margin: 0;
    height: 90vh;
}

#tile1{
    background-image:url(../IMG/NE/article1_IMG.jpg);
    background-size:cover;
}

#tile2{
    background-image:url(../IMG/NE/article2_IMG.jpg);
    background-size:cover;
}

#tile3{
    background-image:url(../IMG/NE/event1_IMG.jpg);
    background-size:cover;
}

#tile4{
    background-image:url(../IMG/NE/article3_IMG.jpg);
    background-size:cover;
}

