body {
    background:#0a8bdb;
    background-image:url(../IMG/NW/NWbackground.svg);
    background-size: cover;
    margin: 0;
    height: 100vh;

}

#Two {
  position:absolute;
  left:-2.5%;
  bottom: -38vh;
}

#Two button {
    bottom: 12px;
}

#Two h1 {
    position:relative;
  top:10px;
}

#Three {
    position:absolute;
    left:30%;
}

#tile1 {
  background-image:url(../IMG/NW/golden_eagle.jpg);
  background-size: cover;
}

#tile2 {
  background-image:url(../IMG/NW/bittern.jpg);
  background-size: cover;
}

#tile3 {
  background-image:url(../IMG/NW/Natterjack_Toad.jpg);
  background-size: cover;
}

#tile4 {
  background-image:url(../IMG/NW/Event_img1.jpg);
  background-size: cover;
}