body {
    background:#0a8bdb;
    margin: 0;   
    overflow-x:hidden;
    font-family:arial;
   
}

.top {
    height:100vh;
    margin:0;
}

.subNav {
    position:relative;
    bottom:2.1vh;
    margin:0;
    width:100%;
    background:rgb(41, 41, 41);
    height:5vh;
}

.subNav ul{
    position:Relative;
    top:2px;
    z-index:0;
}

.subNav ul li {
    font-family: 'Recursive', sans-serif;
    display:inline;
    float:right;
    color:white;  
    padding:1vh 40px 2vh 40px;
    border-left:solid 1px;
    margin-bottom:2px;
  
}

.subNav ul li:hover{
    background:lightgrey;
    cursor:pointer;
}

#return {
    color:lightgrey;
    position:relative;
    top:12px;
    right:-25px;
    border:none;
    font-size:22.5px;
    letter-spacing:3px;
    z-index:1;
    font-family:Arial, Helvetica, sans-serif;
    
}

#return:hover {
    color:white;
    cursor:pointer;
}

.mainNav {
    position:absolute;
    width:100%;
    background:#266cc7;
    height:10vh;
    top:5vh;
    font-family:Arial;
}

.mainNav ul {
    position:relative;
    bottom:20px;
   
}

.mainNav ul li {
    display:inline;
    color: white;
    float:right;
    padding:0px 35px 0px 25px;
    font-size: 30px;
    background:#266cc7;
    padding-top: 3vh;
    padding-bottom:3.5vh;
    text-align:center;

    
}

.mainNav ul li:hover {
    background:#1a7af7;
    cursor:pointer;
}

.mainNav a {
    color:white;
    text-decoration:none;
}

.mainNav img {
    position:absolute;
    right:75vw;
    bottom:-25vh;
    width:25vw;
    height:35vh;
}

#Navdonate {
    background: rgb(255, 115, 0);
}

.dropdown:hover .dropdown-content {
    display:grid;
}

.dropdown-content {
    position:absolute;
    background:rgb(41, 41, 41);
    display:grid;
    grid-template-columns:1fr;
    left:82.1vw;
    top:10vh;
    width:169px;
    display:none;
   
}

.dropdown-content a {
    color:White;
    text-decoration:none;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    font-size:25px;
}

.dropdown-content a:hover {
    background-color:lightgrey;
    color:black;
    cursor:pointer;
}

.information {
    height:60vh;
    width:40vw;
    background:rgba(0, 0, 0, 0.8);
    color:white;
    margin-left:10%;
    margin-top:10%;
    padding:20px;
    z-index:1;

    
}

.information h1 {
    font-size:40px;
    
}

.information p {
    font-size:15.25px;
}

.information btn {
    background: rgb(255, 115, 0);
    box-shadow: 2px 4px rgba(71, 32, 1, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:white;
    width:25%;
    margin: 0 20px 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.information btn:hover {
    background:orangered;
    transform:translate(2px, 4px);
    cursor:pointer;
}

.whitespace {
    background:white;
    width:100vw;
    height:20vh;
}

.whitespace h1 {
    text-align:center;
    padding-top:8vh;
    font-family:arial;
}

.whitespace btn {
    background: rgb(255, 115, 0);
    box-shadow: 2px 4px rgba(71, 32, 1, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:white;
    width:25%;
    height:25%;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    position:relative;
    left:37%;
    top:30%;
}

.whitespace btn:hover {
    transform:translate(2px, 4px);
    box-shadow:none;
    background: orangered;
    cursor:pointer;
}

.bottom {
    height:100vh;
    background:#31629fff;
}

.grid {
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    color:white;
    

}

.grid div {
    width:50vw;
    height:50vh;
    z-index:2;
    overflow:hidden;
}

.grid h1 {
    background: black;
    margin:25px;
    padding:15px;
    width:50%;
}


.tile div {
    height:25vh;
    background:black;
    position:relative;
    top:18em;
    z-index:1;
    
    padding:10px 15px 10px 15px;
}

.eventInfo {
    font-size:18px;
}

.authorInfo {
   display:grid;
   grid-template-columns: 65px 1fr 1fr;
   width:28%;
   font-size:18px;
}

.authorInfo img {
    width:40px;
    border-radius:20px;
    position:Relative;
    top:10px;
}


.tile h1 {
    color:white;
    font-size:25px;
}

.tile span {
    font-size:18px;
    margin:5px;
    font-style:italic;
    
}

.tile p {
    width:50%;
}

.tile a {
    position:relative;
    left:70%;
    bottom:80%;
    
    background: rgb(255, 115, 0);
    box-shadow: 2px 4px rgba(71, 32, 1, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:white;
    width:20%;
    height:10%;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.tile a:hover {
    transform:translate(2px, 4px);
    box-shadow:none;
    background: orangered;
    cursor:pointer;
}

footer {
    height:30vh;
    background:#266cc7;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    color:white;
   
}

footer ul {
    list-style: none;
}


