body {
    background-image:url(../IMG/SE/SEbackground.svg);
    background-size: cover;
    height:100vh;
}

#tile1{
    background-image:url(../IMG/SE/article1_IMG.jpg);
    background-size:cover;
}

#tile2{
    background-image:url(../IMG/SE/article2_IMG.jpg);
    background-size:cover;
}

#tile3{
    background-image:url(../IMG/SE/event1_IMG.jpg);
    background-size:cover;
}

#tile4{
    background-image:url(../IMG/SE/article3_IMG.jpg);
    background-size:cover;
}