body {
    background:#0a8bdb;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #cfdfda;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;

}

.map {
    position:absolute;
    right:40%;
    top:20%;
    width:6%;
    border:solid rgb(39, 39, 39);
}

#canvas {
    display:block;
    
}

.subNav {
    position:absolute;
    width:100%;
    background:rgb(41, 41, 41);
    height:5vh;
}

.subNav ul{
  position:relative;
  bottom:20px;
}

.subNav ul li {
    font-family: 'Recursive', sans-serif;
    display:inline;
    float:right;
    color:white;  
    padding:1vh 40px 1.6vh 40px;
    border-left:solid 1px;
  
}

.subNav ul li:hover{
    background:lightgrey;
    cursor:pointer;
}

.mainNav {
    position:absolute;
    width:100%;
    background:#266cc7;
    height:10vh;
    top:5vh;
}

.mainNav ul {
    position:relative;
    bottom:20px;
   
}

.mainNav ul li {
    display:inline;
    color: white;
    float:right;
    padding:0px 35px 0px 25px;
    font-size: 30px;
    background:#266cc7;
    padding-top: 3vh;
    padding-bottom:3.5vh;
    text-align:center;

    
}

.mainNav a {
    color:white;
    text-decoration:none;
}

.mainNav ul li:hover {
    background:#1a7af7;
    cursor:pointer;
}

.mainNav img {
    position:absolute;
    right:75vw;
    bottom:-25vh;
    width:25vw;
    height:35vh;
}

#Navdonate {
    background: rgb(255, 115, 0);
}

#Navdonate:hover {
    background:orangered;
    cursor:pointer;
}

.dropdown:hover .dropdown-content {
    display:grid;
}

.dropdown-content {
    position:absolute;
    background:rgb(41, 41, 41);
    display:grid;
    grid-template-columns:1fr;
    left:83vw;
    top:10vh;
    width:169px;
    display:none;
   
}

.dropdown-content a {
    color:White;
    text-decoration:none;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    font-size:25px;
}

.dropdown-content a:hover {
    background-color:lightgrey;
    color:black;
    cursor:pointer;
}


.GeneralInformation {
    position:absolute;
    display: block;
    font-family: Arial;
    top:20%;
    width:25%;
    margin:5%;
    padding:20px;
    color:ghostwhite;
    letter-spacing:4px;
    background:black;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.4);
}



.GeneralInformation p {
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
}

#donate {
    background:rgb(255, 115, 0);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    padding:10px;
}

#donate:hover{
    background:orangered;
    cursor: pointer;
    z-index:1;
}

.info {
    position: absolute;
    display:none;
    opacity:0;
    padding:20px;
    width:22.5%;
    height:50%;
    position:absolute;

}

.info p {
    font-size:18px;
}

.info h1 {
    font-size:30px;
}

span {
    background: rgb(211, 3, 3);
    box-shadow:2px 4px rgba(128, 0, 0, 0.4);
    color: white;
    padding:10px;
    width:30px;
    height:22px;
    text-align:center;
    opacity: 0.9;
    cursor: pointer;
    transform: translate(-25%, -25%);
}

span:hover {
    background: red;
    opacity: 1;
}

.images {
    position: absolute;
    left: 55rem;
    top: 5rem;
    width:600px;
    height:400px;
}

.Learn_More {
    background: rgb(255, 115, 0);
    box-shadow: 2px 4px rgba(71, 32, 1, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color:white;
    width:25%;
    height:25%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Learn_More:hover{
    background: orangered;
    box-shadow:1px 2px rgba(71, 32, 1, 0.5);
    transform: translate(0, 2px);
}

.nodeIMG {
    width:108%;
}

/*NORTH WEST LOCATION NODE*/
#NWText {
    position:absolute;
    display:none;
    opacity:0;
    right:25%;
    bottom:-30%;
    
}

#NorthwestInformation {
    display:none;
    grid-template-rows:5% 60% 5% 8% 10% 10% 2%;
    top:15.5rem;
    left: 7.5rem;
}

#NorthwestInformation p {
    position:relative;
    width:80%;
    top:-6px;
    font-size:15px;
}

#NorthwestInformation img{
    width:100%;
}

#NorthwestInformation h1 {
    position:relative;
    bottom:2rem;
   
}


#NorthwestInformation a {
   position:relative;
   top:1em;
   height:1.2rem;
}

/*NORTH EAST LOCATION NODE*/

#NortheastInformation {
    display:none;
    grid-template-rows:5% 60% 5% 10% 12% 12% 2%;
    width:20%;
    left:71vw;
    top:18vh;
    
}

#NortheastInformation h1 {
    position:relative;
    bottom:50px;

   
}

#NortheastInformation p {
    position:relative;
    font-size:16px;
    
}

#NortheastInformation a {
    position:relative;
    height:1.2rem;
    width:30%;
    top:10px;
   
    
   
}

#NEText {
    display:none;
    position:absolute;
    left:25%;
    bottom:-20%;
    z-index:0;


}

/*MIDLANDS LOCATION NODE*/

#MLText {
    position:absolute;
    display:none;
    left:25%;
    bottom:-30%;
}

#MidlandsInformation { 
    display:none;
    grid-template-rows:5% 60% 5% 10% 10% 10% 2%;
    left:64vw;
    top:27vh;
    width:25%;
    text-decoration: none;
    font-style: none;
}

#MidlandsInformation img {
    height:100%;
    width:100%;
}

#MidlandsInformation a {
    height:1rem;
    position:relative;
    left:68%;
    top:4rem;
}

#MidlandsInformation h1 {
    position:relative;
    font-size: 30px;
    
}

#MidlandsInformation p {
    position:relative;
    font-size:17px;
    bottom:-25px;
}



/*SOUTHWEST LOCATION NODE*/

#SWText {
    display:none;
    position:absolute;
    right:28%;
    bottom:-30%;
}

#SouthwestInformation {
    display:grid;
    grid-template-rows:5% 60% 5% 8% 10% 10% 2%;
    top:30%;
    left:3.5%;
    width:21.5%;
    
}

#SouthwestInformation a {
    position:relative;
    left:62.5%;
    height:1.2rem;
    top:25px;
    width:30%;
}

#SouthwestInformation h1 {
    position:relative;
    bottom:65px;
}

#SouthwestInformation p {
    position:relative;
    bottom:15px;
    font-size:15px;
}

#SouthwestInformation img {
    width:110%;
    position:relative;
    right:12px;
    height:80%;
    z-index:0;
}

#SouthwestInformation span{
    z-index:1;
}


/*SOUTHEAST LOCATION NODE*/

#SEText {
    display:none;
    position:absolute;
    left:25%;
    bottom:-30%;
}

#SoutheastInformation {
    display:none;
    grid-template-rows:5% 60% 5% 8% 10% 10% 2%;
    left:69vw;
    top:28vh;
}

#SoutheastInformation a {
    position:relative;
    top:2rem;
    left:65%;
    height:1.2rem;
}

#SoutheastInformation h1 {
    position:relative;
    bottom:25px;
}

#SoutheastInformation p {
    position:relative;
    
    font-size:15px;
}


#SEImg {
    position:relative;
    right:6%;
    bottom:12%;
    border-radius:2px;
}

#SoutheastInformation span {
    position:Relative;
    left:92.5%;
    bottom:1.5rem;
    z-index:1;
}


