body {
   background-image:url(../IMG/SW/SWbackground.svg);
   background-size:contain;
}


#tile1{
    background-image:url(../IMG/SW/article1_IMG.jpg);
    background-size:cover;
}

#tile2{
    background-image:url(../IMG/SW/article2_IMG.jpg);
    background-size:cover;
}

#tile3{
    background-image:url(../IMG/SW/event1_IMG.jpg);
    background-size:cover;
}

#tile4{
    background-image:url(../IMG/SW/article3_IMG.jpg);
    background-size:cover;
}