body {
    margin:0;
}

.top {
    height:100vh;
    margin:0;
}

.grid {
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    

}

.grid div {
    width:50vw;
    height:50vh;
    z-index:2;
    overflow:hidden;
}

.grid h1 {
    background: black;
    margin:25px;
    padding:15px;
    width:50%;
}


.tile div {
    height:20vh;
    background:black;
    position:relative;
    top:20em;
    z-index:1;
}


#red {
    background:red;
    color:white;
    
}

#orange {
    background:orange;
}

#blue {
    background:blue;
}

#purple {
    background:purple;
}